{% extends 'baseAdmin.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <h1>Country index</h1>
<div class="content-wrapper">
    <table id="example1" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>
                    <a href="{{ path('app_country_show', {'id': country.id}) }}"class="btn btn-primary">show</a>
                    <a href="{{ path('app_country_edit', {'id': country.id}) }}"class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{path('app_country_new')}}"class="btn btn-primary">Create new</a>
</div>    
{% endblock %}
