<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{{asset('assets/admin/img/AdminLTELogo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{asset('assets/admin/img/user2-160x160.jpg')}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{app.user.nom}} {{app.user.prenom}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{{path('app_admin')}}" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('app_admin_dossier')}}" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>
                Gestion dossiers
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('app_country_index')}}" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Gestion logement
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('app_country_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestion Country</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_domaine_detude_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestion Field of Study</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_location_university_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestion Location University</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_university_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestion University</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_nationality_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestion Nationality</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('app_program_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestion Program</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column mt-5" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{{path('app_logout')}}" class="nav-link active">
            <i class="fa fa-sign-out nav-icon"></i>
            <p>Deconnexion</p>
            </a>
          </li>
        </ul>  
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>